# Wind Power generating Forecasting

In [1]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns
from sklearn.model_selection import train_test_split

In [2]:
Location1=pd.read_csv("Location1.csv")
Location2=pd.read_csv("Location2.csv")
Location3=pd.read_csv("Location3.csv")
Location4=pd.read_csv("Location4.csv")

In [3]:
Location1.head()

,Time,temperature_2m,relativehumidity_2m,dewpoint_2m,windspeed_10m,windspeed_100m,winddirection_10m,winddirection_100m,windgusts_10m,Power
0,2017-01-02 00:00:00,28.5,85,24.5,1.44,1.26,146,162,1.4,0.1635
1,2017-01-02 01:00:00,28.4,86,24.7,2.06,3.99,151,158,4.4,0.1424
2,2017-01-02 02:00:00,26.8,91,24.5,1.30,2.78,148,150,3.2,0.1214
3,2017-01-02 03:00:00,27.4,88,24.3,1.30,2.69,58,105,1.6,0.1003
4,2017-01-02 04:00:00,27.3,88,24.1,2.47,4.43,58,84,4.0,0.0793

In [4]:
Location1.tail()

,Time,temperature_2m,relativehumidity_2m,dewpoint_2m,windspeed_10m,windspeed_100m,winddirection_10m,winddirection_100m,windgusts_10m,Power
43795,2021-12-31 19:00:00,34.1,94,32.5,1.00,1.91,53,137,2.5,0.1796
43796,2021-12-31 20:00:00,34.8,94,33.4,2.52,4.30,56,72,4.8,0.2066
43797,2021-12-31 21:00:00,34.1,95,33.0,1.10,1.84,360,45,4.3,0.2336
43798,2021-12-31 22:00:00,34.4,96,33.5,2.40,4.62,45,51,4.2,0.2606
43799,2021-12-31 23:00:00,35.0,97,34.2,2.26,5.04,45,51,4.3,0.2877

In [5]:
Location1["Location"] = "Location1"
Location2["Location"] = "Location2"
Location3["Location"] = "Location3"
Location4["Location"] = "Location4"

In [6]:
Location1

,Time,temperature_2m,relativehumidity_2m,dewpoint_2m,windspeed_10m,windspeed_100m,winddirection_10m,winddirection_100m,windgusts_10m,Power,Location
0,2017-01-02 00:00:00,28.5,85,24.5,1.44,1.26,146,162,1.4,0.1635,Location1
1,2017-01-02 01:00:00,28.4,86,24.7,2.06,3.99,151,158,4.4,0.1424,Location1
2,2017-01-02 02:00:00,26.8,91,24.5,1.30,2.78,148,150,3.2,0.1214,Location1
3,2017-01-02 03:00:00,27.4,88,24.3,1.30,2.69,58,105,1.6,0.1003,Location1
4,2017-01-02 04:00:00,27.3,88,24.1,2.47,4.43,58,84,4.0,0.0793,Location1
...,...,...,...,...,...,...,...,...,...,...,...
43795,2021-12-31 19:00:00,34.1,94,32.5,1.00,1.91,53,137,2.5,0.1796,Location1
43796,2021-12-31 20:00:00,34.8,94,33.4,2.52,4.30,56,72,4.8,0.2066,Location1
43797,2021-12-31 21:00:00,34.1,95,33.0,1.10,1.84,360,45,4.3,0.2336,Location1
43798,2021-12-31 22:00:00,34.4,96,33.5,2.40,4.62,45,51,4.2,0.2606,Location1
43799,2021-12-31 23:00:00,35.0,97,34.2,2.26,5.04,45,51,4.3,0.2877,Location1

In [7]:
merge_data=pd.concat([Location1,Location2,Location3,Location4],axis=0)

In [8]:
merge_data

,Time,temperature_2m,relativehumidity_2m,dewpoint_2m,windspeed_10m,windspeed_100m,winddirection_10m,winddirection_100m,windgusts_10m,Power,Location
0,2017-01-02 00:00:00,28.5,85,24.5,1.44,1.26,146,162,1.4,0.1635,Location1
1,2017-01-02 01:00:00,28.4,86,24.7,2.06,3.99,151,158,4.4,0.1424,Location1
2,2017-01-02 02:00:00,26.8,91,24.5,1.30,2.78,148,150,3.2,0.1214,Location1
3,2017-01-02 03:00:00,27.4,88,24.3,1.30,2.69,58,105,1.6,0.1003,Location1
4,2017-01-02 04:00:00,27.3,88,24.1,2.47,4.43,58,84,4.0,0.0793,Location1
...,...,...,...,...,...,...,...,...,...,...,...
43795,2021-12-31 19:00:00,25.5,94,24.0,4.01,6.66,4,8,8.2,0.3417,Location4
43796,2021-12-31 20:00:00,25.3,92,23.2,4.70,7.52,1,5,7.9,0.3342,Location4
43797,2021-12-31 21:00:00,24.9,90,22.5,4.61,7.57,4,8,7.9,0.3267,Location4
43798,2021-12-31 22:00:00,24.9,89,22.1,4.60,7.44,2,6,7.8,0.3192,Location4
43799,2021-12-31 23:00:00,24.9,88,21.8,4.65,7.77,9,12,7.8,0.3117,Location4

In [9]:
merge_data.to_csv("merge_data.csv", index=False)

In [10]:
merge_data.info()

<class 'pandas.core.frame.DataFrame'>
Index: 175200 entries, 0 to 43799
Data columns (total 11 columns):
 #   Column               Non-Null Count   Dtype
---  ------               --------------   -----
 0   Time                 175200 non-null  object
 1   temperature_2m       175200 non-null  float64
 2   relativehumidity_2m  175200 non-null  int64
 3   dewpoint_2m          175200 non-null  float64
 4   windspeed_10m        175200 non-null  float64
 5   windspeed_100m       175200 non-null  float64
 6   winddirection_10m    175200 non-null  int64
 7   winddirection_100m   175200 non-null  int64
 8   windgusts_10m        175200 non-null  float64
 9   Power                175200 non-null  float64
 10  Location             175200 non-null  object
dtypes: float64(6), int64(3), object(2)
memory usage: 16.0+ MB

In [11]:
merge_data.describe()

,temperature_2m,relativehumidity_2m,dewpoint_2m,windspeed_10m,windspeed_100m,winddirection_10m,winddirection_100m,windgusts_10m,Power
count,175200.000000,175200.000000,175200.000000,175200.000000,175200.000000,175200.000000,175200.000000,175200.000000,175200.000000
mean,46.655994,70.155291,36.516241,4.157639,6.879334,201.589446,201.539070,8.038205,0.303429
std,22.012738,17.326678,20.933153,2.012682,3.043964,99.639040,100.683777,3.617488,0.257325
min,-31.200000,9.000000,-36.200000,0.000000,0.000000,1.000000,0.000000,0.500000,0.000000
25%,30.200000,57.000000,21.900000,2.630000,4.700000,130.000000,129.000000,5.300000,0.087700
50%,46.900000,72.000000,36.200000,3.850000,6.680000,211.000000,211.000000,7.600000,0.233100
75%,65.300000,84.000000,54.600000,5.380000,8.800000,288.000000,290.000000,10.300000,0.474200
max,101.700000,100.000000,78.700000,18.530000,24.590000,360.000000,360.000000,29.200000,0.999400

In [12]:
merge_data.describe().T

,count,mean,std,min,25%,50%,75%,max
temperature_2m,175200.0,46.655994,22.012738,-31.2,30.2000,46.9000,65.3000,101.7000
relativehumidity_2m,175200.0,70.155291,17.326678,9.0,57.0000,72.0000,84.0000,100.0000
dewpoint_2m,175200.0,36.516241,20.933153,-36.2,21.9000,36.2000,54.6000,78.7000
windspeed_10m,175200.0,4.157639,2.012682,0.0,2.6300,3.8500,5.3800,18.5300
windspeed_100m,175200.0,6.879334,3.043964,0.0,4.7000,6.6800,8.8000,24.5900
winddirection_10m,175200.0,201.589446,99.639040,1.0,130.0000,211.0000,288.0000,360.0000
winddirection_100m,175200.0,201.539070,100.683777,0.0,129.0000,211.0000,290.0000,360.0000
windgusts_10m,175200.0,8.038205,3.617488,0.5,5.3000,7.6000,10.3000,29.2000
Power,175200.0,0.303429,0.257325,0.0,0.0877,0.2331,0.4742,0.9994

In [13]:
merge_data.shape

(175200, 11)

In [14]:
merge_data.columns

Index(['Time', 'temperature_2m', 'relativehumidity_2m', 'dewpoint_2m',
       'windspeed_10m', 'windspeed_100m', 'winddirection_10m',
       'winddirection_100m', 'windgusts_10m', 'Power', 'Location'],
      dtype='object')

In [15]:
merge_data.isnull()

,Time,temperature_2m,relativehumidity_2m,dewpoint_2m,windspeed_10m,windspeed_100m,winddirection_10m,winddirection_100m,windgusts_10m,Power,Location
0,False,False,False,False,False,False,False,False,False,False,False
1,False,False,False,False,False,False,False,False,False,False,False
2,False,False,False,False,False,False,False,False,False,False,False
3,False,False,False,False,False,False,False,False,False,False,False
4,False,False,False,False,False,False,False,False,False,False,False
...,...,...,...,...,...,...,...,...,...,...,...
43795,False,False,False,False,False,False,False,False,False,False,False
43796,False,False,False,False,False,False,False,False,False,False,False
43797,False,False,False,False,False,False,False,False,False,False,False
43798,False,False,False,False,False,False,False,False,False,False,False
43799,False,False,False,False,False,False,False,False,False,False,False

In [16]:
merge_data.isnull().sum()

Time                   0
temperature_2m         0
relativehumidity_2m    0
dewpoint_2m            0
windspeed_10m          0
windspeed_100m         0
winddirection_10m      0
winddirection_100m     0
windgusts_10m          0
Power                  0
Location               0
dtype: int64

In [17]:
merge_data = merge_data.drop_duplicates()

In [18]:
merge_data.drop(columns=["Time"], inplace=True)

In [19]:
merge_data.head(10)

,temperature_2m,relativehumidity_2m,dewpoint_2m,windspeed_10m,windspeed_100m,winddirection_10m,winddirection_100m,windgusts_10m,Power,Location
0,28.5,85,24.5,1.44,1.26,146,162,1.4,0.1635,Location1
1,28.4,86,24.7,2.06,3.99,151,158,4.4,0.1424,Location1
2,26.8,91,24.5,1.30,2.78,148,150,3.2,0.1214,Location1
3,27.4,88,24.3,1.30,2.69,58,105,1.6,0.1003,Location1
4,27.3,88,24.1,2.47,4.43,58,84,4.0,0.0793,Location1
5,27.6,90,25.2,2.73,5.59,66,80,4.5,0.0778,Location1
6,26.7,92,24.9,2.10,5.82,65,78,4.7,0.0959,Location1
7,28.4,91,26.1,3.10,6.24,69,78,4.8,0.1141,Location1
8,30.2,88,27.0,3.54,6.89,74,81,5.8,0.1322,Location1
9,34.0,82,29.1,3.44,6.01,82,86,6.5,0.1503,Location1

In [20]:
merge_data = pd.get_dummies(merge_data, columns=["Location"])
merge_data = merge_data.astype(int)

In [21]:
merge_data.head()

,temperature_2m,relativehumidity_2m,dewpoint_2m,windspeed_10m,windspeed_100m,winddirection_10m,winddirection_100m,windgusts_10m,Power,Location_Location1,Location_Location2,Location_Location3,Location_Location4
0,28,85,24,1,1,146,162,1,0,1,0,0,0
1,28,86,24,2,3,151,158,4,0,1,0,0,0
2,26,91,24,1,2,148,150,3,0,1,0,0,0
3,27,88,24,1,2,58,105,1,0,1,0,0,0
4,27,88,24,2,4,58,84,4,0,1,0,0,0

In [22]:
merge_data.tail()

,temperature_2m,relativehumidity_2m,dewpoint_2m,windspeed_10m,windspeed_100m,winddirection_10m,winddirection_100m,windgusts_10m,Power,Location_Location1,Location_Location2,Location_Location3,Location_Location4
43795,25,94,24,4,6,4,8,8,0,0,0,0,1
43796,25,92,23,4,7,1,5,7,0,0,0,0,1
43797,24,90,22,4,7,4,8,7,0,0,0,0,1
43798,24,89,22,4,7,2,6,7,0,0,0,0,1
43799,24,88,21,4,7,9,12,7,0,0,0,0,1